<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bowling.mapper.game.GameMapper">
	
	<resultMap type="com.bowling.domain.game.GameVO" id="gameMap">
		<result property="userNo" column="user_no"></result>
		<result property="userId" column="user_id"></result>
		<result property="userName" column="user_name"></result>
		<result property="userGender" column="user_gender"></result>
		<result property="userNickname" column="user_nickname"></result>
		<result property="userNickimage" column="user_nickimage"></result>
		<result property="userRole" column="user_role"></result>
		<result property="clubName" column="club_name"></result>
		<result property="gameAvg" column="game_avg"></result>
		<result property="gameCount" column="game_count"></result>
		<result property="gameAllCover" column="game_all_cover"></result>
		<result property="gameTwohundredOver" column="game_twohundred_over"></result>
		<result property="gamePerfect" column="game_perfect"></result>
		<result property="gameHigh" column="game_high"></result>
	</resultMap>
	
	<select id="getGameInfoByMain" parameterType="com.bowling.domain.game.GameVO" resultMap="gameMap">
		SELECT
			user_name,
			club_name,
			TRUNCATE(AVG(game_score),1) AS game_avg,
            COUNT(*) AS game_count,
            SUM(
				CASE
					WHEN game_all_cover = 1 THEN 1 
                    ELSE 0
				END
			) AS game_all_cover,
            SUM(
				CASE
					WHEN game_twohundred_over = 1 THEN 1
                    ELSE 0
				END 
			) AS game_twohundred_over,
            SUM(
				CASE
					WHEN game_score = 300 THEN 1
                    ELSE 0
				END
			) AS game_perfect,
            MAX(game_score) AS game_high
		FROM
			user ur 
		INNER JOIN
			club_member cm ON ur.user_no = cm.user_no
		INNER JOIN
			club cb ON cb.club_no = cm.club_no
		INNER JOIN
			game gm ON ur.user_no = gm.user_no AND cb.club_no = gm.club_no
		WHERE
			user_id = #{userId}
		GROUP BY
			ur.user_name, cb.club_name, gm.user_no, gm.club_no;
	</select>
	
	<insert id="insertScoreByExcel" parameterType="com.bowling.domain.game.GameVO">
		INSERT INTO
			game (user_no, club_no, shop_no, game_type, game_month, game_score, game_all_cover, game_twohundred_over, game_regist_date)
		VALUES
			(#{userNo}, #{clubNo}, #{shopNo}, #{gameType}, #{gameMonth}, #{gameScore}, #{gameAllCover}, #{gameTwohundredOver}, #{gameRegistDate})
	</insert>
	
</mapper>


